@model List<SistemaPlenario.Models.Personas>

@{ 
    ViewBag.Title = "Personas";
}

<div style="text-align: left; padding:12px 0px;" >
    @Html.ActionLink("Nueva Persona","Crear",null, new { @class="btn btn-success"})
</div>

<div>
    <table class="table table-striped table-hover">
        <tr>
            <th>Nombre</th>
            <th>Fecha de Nacimiento</th>
            <th>Crédito Máximo</th>
            <th></th>
        </tr>
        @if (Model.Count == 0 || Model==null)
        {
            <tr>
                <td>Sin datos</td>
                <td>Sin datos</td>
                <td>Sin datos</td>
                <td></td>
            </tr>
        }
        else
        {
            foreach (var i in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => i.Nombre)</td>
                    <td>@Html.DisplayFor(modelItem => i.FechaNacimiento)</td>
                    <td>@Html.DisplayFor(modelItem => i.CreditoMaximo)</td>
                    <td>
                        <input onclick="jsDetele(@i.PersonaID);" type="button" value="Eliminar" class="btn btn-danger" /> | 
                        <input onclick="document.location.href='@Url.Content("~/Personas/Editar/"+i.PersonaID)'" type="button" value="Editar" class="btn btn-default" />
                    </td>
                </tr>
            }
        }
    </table>
</div>

<script>
    function jsDetele(id) {
        if (confirm("Está seguro de eliminar el registro")) {
            url = "@Url.Content("~/Personas/Eliminar/")" + id;
            $.post(url, function (data) {
                if (data == "1") {
                    document.location.href="@Url.Content("~/Personas/Index")"
                } else {
                    alert("Ocurrio un error inesperado")
                }
            })
        }
        
    }
</script>

@*document.location.href = '@Url.Content("~/Personas/Eliminar/" + i.PersonaID)'*@